header {
	font-family: 'Inter', sans-serif;
	color: black;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 24px 120px;
}

.header img {
	width: 174px;
	cursor: pointer;
}

.headerMenu a {
	text-decoration: none;
	color: black;
	font-weight: 400;
	font-size: 14px;
	margin: 0 15px;
}

.headerMenu a:hover {
	font-weight: 700;
	color: #3F56A1;
}

.headerBotao {
	font-family: 'Inter', sans-serif;
	color: black;
	font-weight: 600;
	font-size: 14px;
	border: 0px solid transparent;
	background-color: #F8C7C6;
	border-radius: 5px;
	padding: 8px 22px;
	cursor: pointer;
	transition: background-color 0.5s;
}

.headerBotao:hover {
	background-color: #F7A6A6;
}

